<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de publication de votre annonce</h1>
    <p>
      Ton annonce a bien été publiée ! Tu peux la visualiser à cette adresse : <%= @url%>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>