<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre annonce <%= @listing.title%> a bien été modifiée</h1>
    <p>
      Tu peux la visualiser à cette adresse : <%= @url%>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>